<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>URL shortener with Sinatra</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>URL Shortener with Sinatra</h1>
</body>
</html>
